!.mvn/wrapper/maven-wrapper.jar
/backend/codegen_ui/
/backend/target/
/backend/.settings/
.settings/
/backend/.project
/backend/.classpath
/backend/bin/
/backend.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/backend/node_modules/

/package-lock.json
/codegen_ui/


# See Front end

# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# dependencies
/frontend/node_modules
/backend/node_modules

# IDEs and editors
/codegen-client/.idea
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace

# IDE - VSCode
/frontend/.vscode/*
/frontend/!.vscode/settings.json
/frontend/!.vscode/tasks.json
/frontend/!.vscode/launch.json
/frontend/!.vscode/extensions.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/testem.log
/frontend/typings
/frontend/yarn-error.log

# e2e
/frontend/e2e/*.js
